.about-sahasraaksha2510-container {
  min-height: 100vh;
}
.about-sahasraaksha2510-about-sahasraaksha2510 {
  width: 1440px;
  height: 1080px;
  display: flex;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.about-sahasraaksha2510-image {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 110px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.about-sahasraaksha2510-text {
  top: 147px;
  left: 426px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-sahasraaksha2510-text01 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.about-sahasraaksha2510-navlink {
  display: contents;
}
.about-sahasraaksha2510-image1 {
  top: 0px;
  left: 0px;
  width: 110px;
  height: 110px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.about-sahasraaksha2510-endingbar2553 {
  top: 977px;
  left: 0px;
  width: 1440px;
  height: 103px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.about-sahasraaksha2510-text02 {
  top: 17px;
  left: 48px;
  color: rgba(255, 122, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-sahasraaksha2510-text03 {
  color: rgba(255, 122, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.about-sahasraaksha2510-text09 {
  top: 14px;
  left: 1141px;
  color: rgba(255, 122, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-sahasraaksha2510-text10 {
  color: rgba(255, 122, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.about-sahasraaksha2510-image2 {
  top: 55px;
  left: 1234px;
  width: 38px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.about-sahasraaksha2510-image3 {
  top: 47px;
  left: 1163px;
  width: 45px;
  height: 45px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.about-sahasraaksha2510-image4 {
  top: 655px;
  left: 807px;
  width: 289px;
  height: 234px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 122, 0, 1);
}
.about-sahasraaksha2510-image5 {
  top: 655px;
  left: 344px;
  width: 289px;
  height: 234px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 122, 0, 1);
}
.about-sahasraaksha2510-image6 {
  top: 286px;
  left: 807px;
  width: 289px;
  height: 234px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 122, 0, 1);
}
.about-sahasraaksha2510-image7 {
  top: 284px;
  left: 344px;
  width: 289px;
  height: 234px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 122, 0, 1);
}
