.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar-link {
  text-decoration: none;
  /* font-weight: bolder; */
  padding: 5px;
  border-color: #282c34;
  color: wheat;
  background-color: #282c34;
  border-style: groove;
}

.features-ul {
  text-align: justify;
  font-size: large;
  padding: 5px;
  border-style: dotted;
  list-style: circle;
  background-color: aqua;
}

.features-ul li {
  padding: 5px;
  border-width: 5px 5px 0px 5px;
  border-color: white;
  border-style: solid;
}

.teamImage {
  width: 225px;
  scale: 0.2;
}

.teamMember {
  background-color: violet;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: large;
}

.teamMember:hover,
.teamMember:active {
  opacity: 0.9;
  transform: scale(1.05);
  /* background-color: violet;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: large; */
}


.team {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 90%;
}

.logoName {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: black;
  color: wheat;
  /* justify-content: center; */
  width:100%;
  padding: 5px;
  top: 0;
  position: fixed;
  z-index: 100;
}

.logoImage {
  max-width: 15vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigationBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: right; */
  /* background-color: #61dafb; */
}

.featureImage {
  width: 450px;
  scale: 0.5;
}

.teamMember {
  background-color: violet;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: large;
}

.teamMember:hover,
.teamMember:active {
  opacity: 0.9;
  transform: scale(1.05);
  /* background-color: violet;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: large; */
}


.team {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 90%;
}


.black-bg {
  background-color: black;
  color: ivory;
}

.black-bg h1 {
  color: ivory;
}

.white-bg {
  background-color: snow;
}

.footerStyle {
  align-items: center;
}

.muiIcons {
  border-width: 1px;
  /* background-color: aquamarine; */
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 2.75em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 2.75em;
  line-height: 3.25em;
  width: 2.75em;
  text-decoration: none;
  /* border-bottom: none; */
  position: relative;
  align-items: center;
  text-align: center;

  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-weight: 400; */
  vertical-align: middle;
}

/* .muiIcons > * {
  display: block;
  vertical-align: middle;
} */

.muiIcons:hover {
  box-shadow: inset 0 0 0 1px #47D3E5;
  border-color: #47D3E5;
  color: #47D3E5;
  border-style: none;
}

.muiIcons:active {
  background-color: rgba(71, 211, 229, 0.1);
  box-shadow: inset 0 0 0 1px #47D3E5;
  color: #47D3E5;
}

.muiIconHolder {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

.muiIconHolder li {
  display: inline-block;
  padding: 0 0.75rem 0 0;
}

.muiIconHolder li:last-child {
  padding-right: 0;
}

.sahasVideoContainer {
  position: relative;
  /* padding-bottom: ; */
}

/* Then style the iframe to fit in the container div with full height and width */
.sahasVideo {
  /* position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 640px;
  height: 360px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1) {
  .sahasVideoContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* max-width: 640px; */
    /* max-height: 360px; */
    padding-bottom: 56.25%;
  }

  /* Then style the iframe to fit in the container div with full height and width */
  .sahasVideo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}