/*--
    Common Css
--*/
body {
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	color: #3b4045;
	font-family: "Josefin Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	margin: 0px;
}

h1,
.h1 {
	font-size: 44px;
	line-height: 56px;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
}

h2,
.h2 {
	font-size: 30px;
	line-height: 35px;
}

h3,
.h3 {
	font-size: 23px;
	line-height: 25px;
}

h4,
.h4 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

p {
	font-size: 18px;
	line-height: 25px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	transition: all 0.2s ease-in-out 0s;
}

.mt-100 {
	margin-top: 100px;
}

.bg-orange {
	background: #f9a743;
}

.bg-opacity {
	position: relative;
}

.bg-opacity:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
}

a:focus,
.btn:focus,
.btn:active:focus {
	box-shadow: none;
	outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
	text-decoration: none;
}

.section {
	padding: 100px 0;
}

.font-size-60 {
	font-size: 60px;
	line-height: 1.2;
}

@media (max-width: 575px) {
	.font-size-60 {
		font-size: 40px;
	}
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-40 {
	margin-bottom: 40px;
}

.pk_video {
	background-color: red !important; /* or whatever you want */
}

/*--
    custom heading
--*/
.text-center {
	text-align: center;
}

.heading {
	text-align: center;
	color: #777777;
	padding-bottom: 70px;
}

.heading h2 {
	color: #3c3c3c;
	padding-bottom: 15px;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
}

.heading p {
	font-size: 17px;
	line-height: 24px;
	font-weight: 300;
}

.subheading {
	color: #3c3c3c;
	padding-bottom: 15px;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 32px;
	line-height: 45px;
}

.btn {
	border-radius: 0;
}

.btn-main {
	color: #fff;
	border-radius: 30px;
	font-size: 18px;
	padding: 15px 40px;
	display: inline-block;
	background-color: #f9a743;
	box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
	background-image: linear-gradient(
		bottom,
		rgba(255, 239, 206, 0) 0%,
		rgba(255, 239, 206, 0.25) 100%
	);
}

.btn-main:hover,
.btn-main:focus {
	background-color: #f9a743;
	color: #fff;
}

.btn-main-sm {
	padding: 12px 35px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

/* navigation */
.navbar-brand {
	color: #444;
	font-size: 25px;
	margin: 0;
	line-height: 1;
}

.nav-link {
	font-size: 14px;
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
	color: #444;
}

/*--
    feature start
--*/
/*--
    Feature-list start
--*/
.feature-list .btn-main {
	margin-top: 15px;
}

/*--
    service start
--*/
.testimonials .testimonial-block {
	padding: 0 10px;
}

.testimonials .testimonial-block i {
	font-size: 40px;
	display: inline-block;
	margin-bottom: 20px;
	color: #f9a743;
}

.testimonials .testimonial-block p {
	font-family: "Droid Serif", serif;
	font-size: 14px;
	color: #777;
}

.testimonials .testimonial-block .author-details {
	margin-top: 30px;
}

.testimonials .testimonial-block .author-details img {
	border-radius: 50%;
	width: 50px;
}

.testimonials .testimonial-block .author-details h4 {
	font-weight: 700;
	font-size: 20px;
	margin-top: 10px;
}

/*--
    call-to-action start
--*/
footer a {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

footer a:hover,
footer a:focus {
	text-decoration: none;
}


footer {
	background: #212529;
}


/* -- About us -- */
.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
