.the-team2565-container {
  min-height: 100vh;
}
.the-team2565-the-team2565 {
  width: 100.0vw;
  height: 75.0vw;
  display: flex;
  position: relative;
  max-width: 100.0vw;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.the-team2565-image {
  top: 0.0vw;
  left: 0.0vw;
  width: 100.0vw;
  height: 7.6389vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.the-team2565-text {
  top: 11.1111vw;
  left: 40.2083vw;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 4.4444vw;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.the-team2565-text01 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 27.7778vw;
  font-stretch: normal;
  text-decoration: none;
}
.the-team2565-navlink {
  display: contents;
}
.the-team2565-image01 {
  top: 0.0vw;
  left: 0.0vw;
  width: 7.6389vw;
  height: 7.6389vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.the-team2565-endingbar2569 {
  top: 67.8472vw;
  left: 0.0vw;
  width: 100.0vw;
  height: 7.1528vw;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.the-team2565-text02 {
  top: 1.1806vw;
  left: 3.3333vw;
  color: rgba(255, 122, 0, 1);
  height: auto;
  position: absolute;
  font-size: 1.3889vw;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.the-team2565-text03 {
  color: rgba(255, 122, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 27.7778vw;
  font-stretch: normal;
  text-decoration: none;
}
.the-team2565-text09 {
  top: 0.9722vw;
  left: 79.2361vw;
  color: rgba(255, 122, 0, 1);
  height: auto;
  position: absolute;
  font-size: 1.3889vw;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.the-team2565-text10 {
  color: rgba(255, 122, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 27.7778vw;
  font-stretch: normal;
  text-decoration: none;
}
.the-team2565-image02 {
  top: 3.8194vw;
  left: 85.6944vw;
  width: 2.6389vw;
  height: 2.1528vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.the-team2565-image03 {
  top: 3.2639vw;
  left: 80.7639vw;
  width: 3.125vw;
  height: 3.125vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.the-team2565-image04 {
  top: 21.0417vw;
  left: 5.9028vw;
  width: 11.1111vw;
  height: 8.9583vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 122, 0, 1);
}
.the-team2565-image05 {
  top: 21.0417vw;
  left: 31.3889vw;
  width: 11.1111vw;
  height: 8.9583vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 122, 0, 1);
}
.the-team2565-image06 {
  top: 21.0417vw;
  left: 56.875vw;
  width: 11.1111vw;
  height: 8.9583vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 122, 0, 1);
}
.the-team2565-image07 {
  top: 21.0417vw;
  left: 82.3611vw;
  width: 11.1111vw;
  height: 8.9583vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 122, 0, 1);
}
.the-team2565-image08 {
  top: 31.3889vw;
  left: 1.3194vw;
  width: 20.2083vw;
  height: 35.0694vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.the-team2565-image09 {
  top: 31.3889vw;
  left: 77.7778vw;
  width: 20.2083vw;
  height: 35.0694vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.the-team2565-image10 {
  top: 31.3889vw;
  left: 52.2917vw;
  width: 20.2083vw;
  height: 35.0694vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.the-team2565-image11 {
  top: 31.3889vw;
  left: 26.8056vw;
  width: 20.2083vw;
  height: 35.0694vw;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
